<html>
<head>
    <META HTTP-EQUIV="expires" CONTENT="0">
</head>
<body>
<form method="POST" enctype="application/x-www-form-urlencoded" action="http://localhost:3000/saml">
    <input type="hidden" name="SAMLResponse" value={{ printf "%q" . }}/>

</form>
<script language="JavaScript">
    <!--
    document.forms[0].submit();
    -->
</script>
</body>
</html>
